@model Batch17_WebApp.Models.EmployeeModel
@{
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="col-lg-12">
    <div class="row">
        <div class="col-4">
            <h3>@Model.Name</h3>
        </div>
        <div class="col-4">
            <h3>@Model.Address</h3>
        </div>
        <div class="col-4">
            <h3>@Model.Status</h3>
        </div>
    </div>
</div>
<table class="table table-responsive-lg">
    <thead>
        <tr>
            <th>
                Salary Date
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Salaries)
        {
            <tr>
                <td>
                    @item.PayrunDate.ToString("dd-MMMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>

